@code {
    [Parameter]
    public int CurrentStep { get; set; }
}

<div class="progress-stepper mb-10 mt-8 uk-padding-left uk-padding-right">
    <ol class="flex items-center uk-flex-between">
        <li>
            <a class="flex uk-flex-column uk-flex-middle uk-flex-center @(CurrentStep < 1 ? "todo" : CurrentStep == 1 ? "active" : "finished")">
                <div class="rounded-full uk-background-secondary text-primary w-8 h-8 flex items-center justify-center">
                    @if (CurrentStep <= 1)
                    {
                        <span>1</span>
                    }
                    else
                    {
                        <uk-icon icon="check"></uk-icon>
                    }
                </div>
                <span class="text-primary uk-text-bold text-center">Kies een datum</span>
            </a>
        </li>
        <li>
            <a class="flex uk-flex-column uk-flex-middle uk-flex-center @(CurrentStep < 2 ? "todo" : CurrentStep == 2 ? "active" : "finished")">
                <div class="rounded-full uk-background-secondary text-primary w-8 h-8 flex items-center justify-center">
                    @if (CurrentStep <= 2)
                    {
                        <span>2</span>
                    }
                    else
                    {
                        <uk-icon icon="check"></uk-icon>
                    }
                </div>
                <span class="text-primary uk-text-bold text-center">Kies je beestjes</span>
            </a>
        </li>
        <li>
            <a class="flex uk-flex-column uk-flex-middle uk-flex-center @(CurrentStep < 3 ? "todo" : CurrentStep == 3 ? "active" : "finished")">
                <div class="rounded-full uk-background-secondary text-primary w-8 h-8 flex items-center justify-center">
                    @if (CurrentStep <= 3)
                    {
                        <span>3</span>
                    }
                    else
                    {
                        <uk-icon icon="check"></uk-icon>
                    }
                </div>
                <span class="text-primary uk-text-bold text-center">Vul je gegevens in</span>
            </a>
        </li>
        <li class="last-step">
            <a class="flex uk-flex-column uk-flex-middle uk-flex-center @(CurrentStep < 4 ? "todo" : CurrentStep == 4 ? "active" : "finished")">
                <div class="rounded-full uk-background-secondary text-primary w-8 h-8 flex items-center justify-center">
                    @if (CurrentStep <= 4)
                    {
                        <span>4</span>
                    }
                    else
                    {
                        <uk-icon icon="check"></uk-icon>
                    }
                </div>
                <span class="text-primary uk-text-bold text-center">Bevestigen</span>
            </a>
        </li>
    </ol>
</div>