@{
    ViewData["Title"] = "Home";
}

<div class="text-center max-w-[80%] uk-margin-auto uk-position-relative">
    <h1 class="headline">
        <span class="text-highlight">Boek</span> voor jouw Feestje een <span class="text-highlight">Beestje</span>
    </h1>
    <p>
        Via Beestje op je Feestje (BOEK), kan je een of meerdere van onze dieren boeken voor op jouw feestje! Kies de dag van je feestje en volg de stappen om je beestje te boeken.
    </p>
    <form method="get" class="uk-margin-medium-top uk-display-inline-block text-left uk-width-auto space-y-1.5" asp-controller="Booking" asp-action="PickYourAnimal">
        <label class="uk-form-label " for="date-input">Wanneer vier je jouw feestje?</label>
        <div class="uk-form-controls -space-x-1 uk-box-shadow-small">
            <div class="uk-inline">
                <div class="uk-form-icon">
                    <uk-icon icon="calendar-days"></uk-icon>
                </div>
                <input class="uk-input date-input w-60 rounded-r-none -translate-y-px" id="date-input" min="@DateOnly.FromDateTime(DateTime.Today.AddDays(1)).ToString("yyyy-MM-dd")" type="date" name="date" required />
            </div>
            <button class="uk-button uk-button-primary background-highlight rounded-l-none">Boeken</button>
        </div>
    </form>
    <svg class="uk-position-bottom-left left-[15%] mb-4" width="157" height="70" viewBox="0 0 278 124" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M275.928 112.537C269.195 106.202 262.254 100.366 254.958 94.6747C248.66 89.4012 241.782 82.7119 234.15 79.226C230.012 77.2017 225.302 82.855 228.459 86.5218C228.459 86.5218 228.604 86.8757 228.958 86.7306C228.686 88.0827 228.269 89.0815 227.642 90.5783C227.288 90.7234 226.725 91.3671 226.371 91.5123C225.808 92.1566 225.391 93.1548 224.973 94.1536C201.651 91.7276 178.618 90.0094 155.985 85.233C149.224 83.8709 142.672 82.0091 136.184 79.2953C149.59 60.5658 162.925 33.5954 149.886 12.8932C132.529 -14.3074 107.56 14.5393 103.182 34.1142C97.4894 57.5366 104.584 72.8201 123.36 83.3135C114.228 95.3279 102.811 105.8 89.4239 110.462C57.4868 122.319 40.5654 96.1805 38.9806 69.1271C49.635 68.8925 60.6884 65.5998 69.0208 59.7018C84.2049 49.3398 88.6194 17.7586 70.8424 7.6829C53.2105 -2.03888 34.6558 37.4087 32.267 48.7254C31.5133 51.9289 30.9054 55.486 30.6509 58.8983C30.1518 58.6895 29.7972 58.8349 29.2987 58.6259C-2.86309 52.7955 10.2272 22.2046 24.2143 4.89092C26.4653 2.31384 22.3909 -0.563513 19.9947 1.65961C4.57397 17.4939 -10.5486 43.1295 11.3387 60.2027C16.7016 64.2055 23.1901 66.9198 30.1597 67.7829C30.3565 90.4437 39.6469 113.097 63.1506 119.997C91.3553 128.277 114.609 106.336 130.493 86.5908C130.992 86.7991 130.992 86.7991 131.491 87.0084C159.233 99.1999 191.921 100.266 221.924 102.847C221.17 106.05 220.562 109.608 219.808 112.811C219.472 115.017 220.842 117.35 222.838 118.184C239.082 123.513 256.788 125.349 273.732 121.294C278.06 120.76 279.295 115.706 275.928 112.537ZM118.552 69.5733C105.249 59.3167 109.29 41.9472 114.428 28.2625C121.092 10.2309 142.011 5.78666 146.391 27.5589C148.476 38.6944 142.612 50.6094 137.937 60.3828C135.496 65.5191 132.347 70.946 128.698 76.1638C125.058 74.3485 121.628 72.0333 118.552 69.5733ZM39.3269 59.8892C40.3624 48.3005 44.5388 38.318 51.0645 29.0261C53.9418 24.9517 57.3183 21.0861 61.4842 18.1372C72.0669 9.66226 73.8883 31.2433 73.4429 37.2148C71.5259 53.7132 54.1008 59.619 39.3269 59.8892ZM230.299 110.163C230.153 109.809 230.507 109.664 230.362 109.31C231.424 108.874 232.195 107.73 232.323 106.025C232.369 103.112 232.768 100.053 233.168 96.9946C233.44 95.6424 234.693 92.6478 233.985 92.9381C234.339 92.7929 234.548 92.2938 234.403 91.9399C238.123 94.9618 242.551 97.6946 246.272 100.716C251.136 104.511 256.145 108.659 261.154 112.807C251.289 113.96 240.553 112.987 230.299 110.163Z" fill="#4B6D14"/>
    </svg>
</div>
<img src="~/img/banner.png" class="w-full uk-position-relative uk-position-z-index-negative mt-[-5rem]" alt="Banner" />